appdirs==1.4.4
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
ifaddr==0.2.0
lxml==6.1.1
packaging==26.2
requests==2.34.2
setuptools==82.0.1
soco==0.31.1
urllib3==2.7.0
wheel==0.47.0
xmltodict==1.0.4
